/*for desktop*/
html, body, .section, .container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    border-bottom: solid 2px #3A4B6E;
}

button:active {
    outline: none;
    border: none;
}

.topnav {
    border-radius: 5px;
    margin: 15px auto;
    z-index: 10;
    position: fixed;
    background-color: rgba(51, 51, 51, .5);
    overflow: hidden;
    left: calc(50% - 185px);
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgba(255, 255, 255, .9);
    color: black;
}

a {
    color: black;
}

a:hover {
    cursor: pointer;
}

/*styling for home*/
#home {
    position: relative;
    overflow: hidden;
}

#home-img-div{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url("../img/background_img.png");
}

#home-img {
    width: 100%;
}

#home-header {
    position: absolute;
    top: 7%;
    left: 50%;
}

#home-header p{
    text-align: center;
    padding: 20px 40px;
    border: solid 4px #ffffff;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 300;
    color: white;
    position: relative;
    left: -50%;
}

#home-content {
    position: absolute;
    top: 25%;
    left: 50%;
}

#home-content p{
    text-align: center;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 200;
    color: white;
    position: relative;
    left: -50%;
}

/*styling for about*/
#about-me {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 0px;
    text-align: center;
    background: #eeeeee;
    /*background-color: #3A4B6E;*/
}

.am-container {
    width: 80vw;
    height: 60vh;
    clear: both;
    overflow: hidden;
    background-color: white;
    margin: 5% auto;

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    display: inline-block;
    position: relative;
}

.quote {
    font-family: "Times New Roman";
    font-weight: 100;
    font-size: 40px;
    color: darkslategrey;
}

.am-details a{
    text-decoration: none;
}

#am-sub-heading {
    text-align: left;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: #3A4B6E;
    line-height: 25px;
    margin-bottom: 60px;
}

#email-about-pic {
    content: url("../img/email-about.svg");
    width: 18px;
    height: 18px;
}

#university-about-pic {
    content: url("../img/university-about.svg");
    width: 18px;
    height: 18px;
}

#location-about-pic {
    content: url("../img/location-about.svg");
    width: 18px;
    height: 18px;
}

.am-details {
    margin: 2%;
    text-align: left;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 5px 5px 5px 5px;
}


#twitter {
    text-align: left;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: darkblue;
    line-height: 30px;
}

.am-container:hover {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#profile-dp {
    float: left;
    width: 40%;
    /*margin-top: 13%;*/
    /*margin-left: 15%;*/
}

#am-body {
    /*margin-top: 13%;*/
    /*margin-right: 15%;*/
    float: right;
    width: 55%;

    padding-top: 2%;
    padding-right: 2%;
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;

}

#am-header {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: red;
    line-height: 40px;
}

/*styling of skills*/
#skills {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    background: #eeeeee;
}

.container-page {
    height: 100%;
    padding-top: 5%;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    align-items: center;
}

.page-header {
    text-align: center;
    display: inline;
    padding: 10px 20px;
    border: solid 4px #3A4B6E;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 300;
    color: #3A4B6E;
}

.row {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 2vw;
    margin-right: 2vw;
}

.skills-container-page{
    margin-left: 0vw;
    margin-right: 0vh;
}

.cards {
    margin-right: 3%;
    background-color: white;

    padding: 2%;

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    display: inline-block;
    position: relative;

    /*adding perspective */
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

.cards {
    width: 280px;
    height: 280px;
}

.medium, .small{
    display: none;
}

.large{
    display: block ;
}


.cards.hover .flipper, .cards:hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipper {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;

    -o-transition: 1s;
    -o-transform-style: preserve-3d;

    transition: 1s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.back {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

}

.cards:last-child {
    margin-right: 0px;
}

.cards:hover {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.skills-img {
    width: 100%;
    height: 100%;
}

.back-header {
    font-size: 30px;
    font-weight: 200;
    font-family: sans-serif;
    color: #4E4E4E;
    letter-spacing: 3px;
}

.back-content {
    text-align: left;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 200;
    font-family: sans-serif;
    color: #666666;
}

/*styling for projects*/
#projects {
    height: auto;
    min-height: 100%;
    padding-bottom: 50px;
    background-color: #eeeeee;
}

.row-projects {
    height: inherit;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 3vw;
    margin-right: 3vw;
}

.cards-projects {
    width: 300px;
    height: 200px;
    background-color: white;
    margin: 2vh;

    padding: 2%;

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    display: inline-block;
    position: relative;
}


.cards-projects:hover {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.project-name {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 25px;
    letter-spacing: 3px;
    color: #444444;
}

.project-desc {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #666666;
}

.project-languages {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.java {
    color: #9c5317;
}

.xml {
    color: #5e139c;
}

.js {
    color: #1a9c12;
}

.html {
    color: #ff2718;
}

.css {
    color: blue;
}

.php {
    color: darkgreen;
}

.project-link {
    padding: 10px;
    border: solid 1px #dddddd;
    border-radius: 5px;
    font-weight: 200;
    font-family: sans-serif;
    font-size: 15px;
    color: #888888;
    background-color: transparent;
    cursor: pointer;
}

.cards-projects div {
    margin-top: 30px;
}

a {
    text-decoration: none;
}

.project-link:hover {
    background-color: #3A4B6E;
    color: white;
}

/*styling of contact*/
#contact {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    background: #3A4B6E;
}

.page-header-light {
    text-align: center;
    display: inline;
    padding: 10px 20px;
    margin: 10px auto;
    border: solid 4px #ffffff;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 300;
    color: #ffffff;
}

.form-enter {
    border-width: 0px;
    border-radius: 5px;
    width: 70%;
    margin: 3% 3%;
    padding: 20px;
}

#contact-box {
    width: 40%;
    height: 35%;
    margin-top: 5%;
    float: left;
    margin-left: 10%;

}

#details {
    width: 100%;
    overflow: auto;
    margin-top: 5%;
}

#contact-details {
    margin-top: 5%;
    text-align: left;
    background-color: white;
    float: right;

    margin-right: 10%;

    width: 24vw;
    height: 34%;

    padding: 2%;

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    display: inline-block;
    position: relative;
}

.cd-items {
    margin: 4% 3%;
    background-color: #eeeeee;
    padding: 5px 15px;
    border-radius: 5px;
}

#phone-pic {
    content: url("../img/phone-receiver.svg");
    width: 13px;
    height: 13px;
}

#email-pic {
    content: url("../img/email.svg");
    width: 13px;
    height: 13px;
}

#address-pic {
    content: url("../img/location.svg");
    width: 13px;
    height: 13px;
}

#social-buttons {
    margin-top: 5%;
    align-content: center;
    text-align: center;
    align-items: center;
    position: relative;
}

.social {
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: solid 1px #ffffff;
    margin: 3%;
}

.social:hover {
    background: white;
    cursor: pointer;
}

#send {
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    border: solid 1px #ffffff;
    background-color: transparent;
    color: white;
}

#send:hover {
    background-color: white;
    color: #3A4B6E;
    cursor: pointer;
}

.container-page-contact{
    margin: 0px;
}
